apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-ljflclmr
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-ljflclmr:2d7d5ea679eb362304166a393815ac04fa424c8b@sha256:d6637ab849c11d384ce83bc2622338767940befa3bfcb1e07f80ace3b76d0b6f
        name: container-image  
