apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-ljflclmr
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-ljflclmr:53fc05b128ec258bc8c7e2cd1eaf8d21c635137d@sha256:9e2e7f8e19534ae2e755e5f82b4b8d56029175eb6d30fce33a33bd782e459977
          name: container-image
